body {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
  font-family: "Avenir W02",sans-serif;
}

a {
  color: #00B7FF;
}

.pointer {
  cursor: pointer;
}

.header {
  z-index: 2000;
  position: absolute;
  width: 100%;
  height: 100px;
  /*vertical-align: middle;*/
  margin-top: 0;
  margin-left: 0;
  /*background-color: black;*/
}

.logo-container {
  position: absolute;
  margin-left: 0;
  height: 100px;
  width: 100px;
}

.landing .one-of-four .logo-container img{
  opacity: 1;
  height: 150px;
  width: 150px;
}

.nav-container {
  margin-left: 700px;
  margin-top: 20px;
  /*margin-right: auto;*/
}

.nav-container ul li {
  display: inline-block;
  margin-left: 40px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  opacity: .75;
  letter-spacing: 2px;
}

.nav-container ul li:hover {
  opacity: 1;
}



.landing {
  position: relative;
  /*background:  url('../images/fc_assets/dbx_blue-01.jpg');*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  height: 780px;
}

.landing .one-of-four img {
  position: absolute;
  width: 100%;
  opacity: .5;
  z-index: 1000;
}

.landing .one-of-four video {
  position: absolute;
  width: 100%;
  opacity: .5;
  z-index: 1000;
}

.landing .one-of-four .copy {
  z-index: 2000;
  width: 100%;
  height: 200px;
  position: absolute;
  margin-top: 240px;
  /*padding: 40px;*/
  text-align: center;
}

.landing .copy h1{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 42px;
  color: white;
  letter-spacing: 2px;
}

.landing .copy p{
  font-size: 18px;
  color: white;
  font-weight: 200;
  letter-spacing: 1px;
}



.section {
  position: relative;
  background-color: gray;
  /*background:  url('../images/fc_assets/dbx_blue-01.jpg');*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  height: 780px;  

}

.one-of-four {
  position: relative;
  background-color: #4E4D4B;
  overflow: hidden;
  width: 100%;
  height: 500px;
}

.three-of-four-container {
  width: 100%;
  margin-top: 40px;
  text-align: center;
}

.three-of-four {
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-align: center;
  /*background-color: white;*/
  /*border: 2px solid gray;*/
  margin-left: 1%;
  width: 20%;
  height: 200px;
  

}

.three-of-four .hero {
  position: absolute;
  width: 100%;
  height: 40px;
  margin-top: 120px; 
  transition: all 0.4s ease;

}

.three-of-four .hero:hover {
  transform: scale(1.1);
}

.three-of-four-container  .three-of-four img{
  position: relative;
  height: 40px;
  width: 40px;
  /*border: 1px solid black;*/
  box-shadow: 1px 3px 10px #888888;
  border-radius: 6px;
  padding: 12px;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}


.three-of-four-container .three-of-four .copy h2{
  position: relative;
  display: block;
  margin: 0;
  line-height: 1;

}

.three-of-four-container .three-of-four .copy p{
  position: relative;
  display: block;
  color: black;
  font-size: 16px;
  line-height: 1.5;

}

.three-of-four-container .three-of-four .copy {
  text-align: center;
  position: absolute;
  margin-top: 0px;
  width: 100%;
}

.fullwideblock {
  width: 100%;
  display: block;
  text-align: center;
}

.one-of-four .copy h3 {
  padding: 10px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  /*border: 2px solid #FFC300;*/
  background-color: #FFC300;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  /*color: white;*/
  color: black;
}


