<div id='about-intro'>
  <div class='header'>
      <a href="/#/">
        <div class='logo-container'>
        <!-- <img src='./images/tri_bw_knockout_logo.png'> -->
        <!-- <img src='./images/tri_bw_logo.png'> -->
          <img  src='./images/tri_color_logo.png'>
        </div>
      </a>
      <div class='nav-container'>
        <ul>
          <li class='pointer'><a href='/#/about'>About</a></li>
          <li class='pointer'>Contact</li>
          <li class='pointer'>Careers</li>
          <li class='pointer'>Quick Pay</li>

        </ul>
      </div>
    </div>
  <div class='abs-backer'>
    <!-- <img src='./images/stock_group.jpg'> -->
    <img src='./images/shop.png'>
  </div>
  <div class='abs-content'>
    <div class='fullwideblock'>
      <!-- <h1>GET TO KNOW TILEY ROOFING</h1> -->
      <p>Tiley Roofing was founded in 1999 in Boulder, Colorado by a chemical engineer graduate with a love for construction. Kirk Tiley began the company with a few friends and a devotion quality. Now Tiley Roofing is based in Denver and provides roofing products and services throughout Denver as well as all of Colorado and surrounding states.</p>
    </div>
  </div>
  <div class='abs-backer-overlay op-3 back-white'>
  </div>
</div>
<div id='stats'>
  <div class='col1'>
  </div>
  <div class='col10'>
    <div class='col3'>
      <h3 > 1999</h3>
      <h5 >Year Established</h5>
    </div>
    <div class='col3'>
      <h3 >4163</h3>
      <h5 >Projects Completed</h5>
    </div>
    <div class='col3'>
      <h3  >4576</h3>
      <h5 >Service Jobs Completed</h5>
    </div>
    <div class='col3'>
      <h3 >13</h3>
      <h5 >Awards Won</h5>
    </div>
  </div>
</div>

<div class='col2'>
  <p></p>
</div>
  <div id='the-team' class='col8'>
    <h2 class='margin-auto'>Meet the Team</h2>
    
    <div class='staff-person'>
      <div class='inline'>
          <img class='center' src='./images/kirk_head.jpg'>
      </div>
      <div class='inline'>
        <h5>Kirk Tiley</h5>
        <h6>Owner/Founder</h6>
        <p>"Pourkitsch. Meditation dreamcatcher quinoa, sustainable retro heirloom cardigan cliche cornhole four loko photo booth microdosing humblebrag."
        </p>
      </div>
    </div>

    <div class='staff col4'>
      <img src='./images/brad_head.jpg'>
      <h5>Brad Chacon</h5>
      <h6>Comptroller</h6>
    </div
    ><div class='staff col4'>
      <img src='./images/tony_head.jpg'>
      <h5>Tony Miller</h5>
      <h6>Senior Estimator</h6>
    </div
    ><div class='staff col4'>
      <img src='./images/amanda_head.jpg'>
      <h5>Amanda Dieringer-Downes</h5>
      <h6>Project Coordinator</h6>
    </div>
    <div class='staff col4'>
      <img src='./images/johnm_head.jpg'>
      <h5>John Miwa</h5>
      <h6>Project Manager</h6>
    </div
    ><div class='staff col4'>
      <img src='./images/connor_head.jpg'>
      <h5>Tony Miller</h5>
      <h6>Senior Estimator</h6>
    </div
    ><div class='staff col4'>
      <img src='./images/mikeg_head.jpg'>
      <h5>Mike Glenn</h5>
      <h6>Project Coordinator</h6>
    </div>
    <div class='staff col4'>
      <img src='./images/mikeo_head.jpg'>
      <h5>Mike O</h5>
      <h6>Supervisor</h6>
    </div
    ><div class='staff col4'>
      <img src='./images/jamesk_head.jpg'>
      <h5>James Kirkham</h5>
      <h6>Project Coordinator</h6>
    </div
    ><div class='staff col4'>
      <img src='./images/amylyn_head.jpg'>
      <h5>Amylyn Kelly</h5>
      <h6>Office Manager and Human Resources</h6>
    </div>
  </div>
  <div id='about-video'>
    <div class='container'>
      <iframe width="649" height="409" src="https://www.youtube.com/embed/6Zyhn8Jy7fg" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div id='faqs'>
    <

  </div>
 