<div id='about-intro'>
  <div class='header'>
      <a href="/#/">
        <div class='logo-container'>
        <!-- <img src='./images/tri_bw_knockout_logo.png'> -->
        <!-- <img src='./images/tri_bw_logo.png'> -->
          <img  src='./images/tri_color_logo.png'>
        </div>
      </a>
      <div class='nav-container' >
        <ul>
          <li class='pointer' style='color: gray'><a href='/#/about'>About</a></li>
          <li class='pointer'>Contact</li>
          <li class='pointer'>Careers</li>
          <li class='pointer'>Quick Pay</li>

        </ul>
      </div>
    </div>
  
  <div id='about-video'>
    <div class='container'>
      <iframe width="649" height="409" src="https://www.youtube.com/embed/6Zyhn8Jy7fg" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class='col2'>
  <p></p>
</div>
  <div id='the-team' class='col8'>
    <h2 class='margin-auto'>Meet the Team</h2>
    
    <div class='staff col4'>
      <img src='./images/kirk_head.jpg'>
      <h5>Kirk Tiley</h5>
      <h6>Owner/Founder</h6>
    </div
    ><div class='staff col4'>
      <img src='./images/brad_head.jpg'>
      <h5>Brad Chacon</h5>
      <h6>Comptroller</h6>
    </div
    ><div class='staff col4'>
      <img src='./images/tony_head.jpg'>
      <h5>Tony Miller</h5>
      <h6>Senior Estimator</h6>
    </div
    ><div class='staff col4'>
      <img src='./images/amanda_head.jpg'>
      <h5>Amanda Dieringer-Downes</h5>
      <h6>Project Coordinator</h6>
    </div>
    <div class='staff col4'>
      <img src='./images/johnm_head.jpg'>
      <h5>John Miwa</h5>
      <h6>Project Manager</h6>
    </div
    ><div class='staff col4'>
      <img src='./images/connor_head.jpg'>
      <h5>Tony Miller</h5>
      <h6>Senior Estimator</h6>
    </div
    ><div class='staff col4'>
      <img src='./images/mikeg_head.jpg'>
      <h5>Mike Glenn</h5>
      <h6>Project Coordinator</h6>
    </div>
    <div class='staff col4'>
      <img src='./images/mikeo_head.jpg'>
      <h5>Mike O</h5>
      <h6>Supervisor</h6>
    </div
    ><div class='staff col4'>
      <img src='./images/jamesk_head.jpg'>
      <h5>James Kirkham</h5>
      <h6>Project Coordinator</h6>
    </div
    ><div class='staff col4'>
      <img src='./images/amylyn_head.jpg'>
      <h5>Amylyn Kelly</h5>
      <h6>Office Manager and Human Resources</h6>
    </div>
  </div>
  <div id='faqs'>
    <

  </div>
 