

<div class='landing' scroll>
  <div class='one-of-four'>
    <div class='header'>
      <div class='logo-container'>
        <!-- <img src='./images/tri_bw_knockout_logo.png'> -->
        <!-- <img src='./images/tri_bw_logo.png'> -->
        <img  src='./images/tri_color_logo.png'>
      </div>
      <div class='nav-container'>
        <ul>
          <li class='pointer'><a href='/#/about'>About</a></li>
          <li class='pointer'>Contact</li>
          <li class='pointer'>Careers</li>
          <li class='pointer'>Quick Pay</li>

        </ul>
      </div>
    </div>
    <!-- <img src='./images/roofer.png'> -->
    <video width="100%" height="auto" loop autoplay>
      <source src="./images/video_block_sample.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class='copy'>
      <h1  class='animated slideInLeft'>YOU WANT A ROOFING COMPANY YOU CAN TRUST.</h1>
      <p>Choose your roofing company wisely. Choose Tiley Roofing. We provide all types of roofing and gutter services and products.</p>
      <div class='fullwideblock'>
        <h3 class='pointer'>FREE ESTIMATE</h3>
      </div>
    </div>
  </div>
  
  <div id='services' >
    <div class='col2'>
    </div>
    <div class='col8' >
      <div class='col4'>
        <h4>Commercial</h4>
        <p>Government projects, warehouses, community buildings, shopping centers, and multi-unit complexes.</p>
        <img src='./images/commercial.png'>
      </div>
      <div class='col4'>
        <h4>Residential</h4>
        <p>Individual homes and HOA developments. You're home is your piece of mind.</p>
        <img src='./images/residential.png'>
      </div>
      <div class='col4'>
        <h4>Custom</h4>
        <p>Unique, historical, or too tough for the competition. We can do it.</p>
        <img src='./images/custom.png'>
      </div>
    </div>

  </div>
</div>

<div id='stats'>
  <div class='col1'>
  </div>
  <div class='col10'>
    <div class='col3'>
      <h3 > 1999</h3>
      <h5 >Year Established</h5>
    </div>
    <div class='col3'>
      <h3 >4163</h3>
      <h5 >Projects Completed</h5>
    </div>
    <div class='col3'>
      <h3  >4576</h3>
      <h5 >Service Jobs Completed</h5>
    </div>
    <div class='col3'>
      <h3 >13</h3>
      <h5 >Awards Won</h5>
    </div>
  </div>
</div>



<div id='roof-types-section' class='col8'>
  <h3 class='title'>What we do.</h3>
  <div class='type'>
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    <h5 class='child'>Shingles</h5 class='child'>
  </div> 
  <div class='type'>
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    <h5 class='child'>Gutters and Downspout</h5 >
  </div> 
  <div class='type'>
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    <h5 class='child'>Concrete and Clay Tiles</h5 class='child'>
  </div>
  <div class='type'>
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    <h5 class='child'>Standing Seam Metal</h5 class='child'>
  </div>
  <div class='type'>
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    <h5 class='child'>TPO</h5 class='child'>
  </div>  
  <div class='type'>
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    <h5 class='child'>EPDM</h5 class='child'>
  </div>
    <div class='type'>
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    <h5 class='child'>Slate</h5 class='child'>
  </div> 
  <div class='type'>
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    <h5 class='child'>Shake</h5 class='child'>
  </div>
  <div class='type'>
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    <h5 class='child'>Modified Bitumen</h5 class='child'>
  </div>
  <div class='type'>
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    <h5 class='child'>Sheetmetal Fabrication</h5 class='child'>
  </div>  
  <div class='type'>
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    <h5 class='child'>Snow Fence</h5>
  </div>
  <div class='type'>
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    <h5 class='child'>Skylights</h5>
  </div>
  <div class='type'>
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    <h5 class='child'>Roof Vents</h5>
  </div>
  <div class='type'>
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    <h5 class='child'>Heat Cable</h5>
  </div>
  <div class='type'>
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    <h5 class='child'>Rooftop Pavers</h5>
  </div>
  <div class='type'>
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    <h5 class='child'>Fascia and Soffit</h5>
  </div>
  <div class='type'>
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    <h5 class='child'>Gutter Screens</h5>
  </div>
  <div class='type'>
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
    <h5 class='child'>Insulation</h5>
  </div>
</div>


<div id='insurance'>
  <div class='col1'></div>
  <div class='col5 op-3 ease6'>
      <h3 >STORM DAMAGE?</h3>
      <p>Hail, wind, rain, and ice can cause moderate to severe damage. Insurance claims can be confusing and frustrating. Tiley Roofing will work with your insurance company and adjuster to recover your loss and make the process as smooth as possible.</p>
  </div>
  <div class='col5 op-3 ease6'>
    <img src='./images/hail_roof_corner.jpg'>
  </div>
</div>

<!-- 
<div id='insurance'>
  <div class='col1'></div>
  <div class='col5 op-3 ease6'>
      <h4 >NEW CONSTRUCTION</h4>
      <p>We can provide the best installation from the start.
      meditation quinoa farm-to-table deep v. Mlkshk typewriter kogi, meh chambray try-hard church-key. Affogato neutra .</p>
  </div>
  <div class='col5 op-3 ease6'>
    <img src='./images/top_install.jpg'>
  </div>
</div>


<div id='insurance'>
  <div class='col1'></div>
  <div class='col5 op-3 ease6'>
      <h4 >UPGRADES</h4>
      <p>Time to replace that old leaky thing? 
      meditation quinoa farm-to-table deep v. Mlkshk typewriter kogi, meh chambray try-hard church-key. Affogato neutra .</p>
  </div>
  <div class='col5 op-3 ease6'>
    <img src='./images/upgrades.jpeg'>
  </div>
</div>

<div id='insurance'>
  <div class='col1'></div>
  <div class='col5 op-3 ease6'>
      <h4 >REPAIRS</h4>
      <p>We do routine maintanence, emergency repairs, and repairs of all sizes.
      meditation quinoa farm-to-table deep v. Mlkshk typewriter kogi, meh chambray try-hard church-key. Affogato neutra .</p>
  </div>
  <div class='col5 op-3 ease6'>
    <img src='./images/repair_pic.jpg'>
  </div>
</div> -->
<!-- <div id='insurance2'>
  <div class="doublewide">
    <div class='col1'></div>
    <div class='col5 left left-out ease12 op-0'>
        <h4 >STORM DAMAGE?</h4>
        <h5>OUR INSURANCE CLAIM EXPERTS CAN HELP.</h5>
        <p>Hail, wind, rain, and ice can cause moderate to severe damage. Insurance claims can be confusing and frustrating. Tiley Roofing will work with your insurance company to recover your loss and make the process as smooth as possible.</p>
    </div>
    <div class='col5 right  right-out ease12 op-0'>
      <img src='./images/hail_roof_corner.jpg'>
    </div>
  </div>
</div> -->
