<div class='landing'>
  <div class='one-of-four'>
    <img src='./images/roofer.png'>
    <div class='copy'>
      <h1>More than just another roofing company</h1>
      <p>TILEY ROOFING INC</p>
    </div>
  </div>
  <div class='three-of-four-container'>
    <div class='three-of-four'><img src='./images/commercial.png'>
      <h4> Commercial</h4>
    </div>
    <div class='three-of-four'><img src='./images/residential.png'>
      <h4> Residential</h4>
    </div>
    <div class='three-of-four'><img src='./images/custom.png'>
      <h4> Custom</h4>
    </div>
    <div class='three-of-four'><img src='./images/repairs.png'>
      <h4> Repairs</h4>
    </div>
  </div>
</div>
<div class='section'>
</div>