

<div class='landing'>

  <div class='one-of-four'>
    <div class='header'>
      <div class='logo-container'>
        <!-- <img src='./images/tri_bw_knockout_logo.png'> -->
        <img src='./images/tri_color_logo.png'>
      </div>
      <div class='nav-container'>
        <ul>
          <li>About</li>
          <li>Gallery</li>
          <li>Awards</li>
          <li>Contact</li>
          <!-- <li>Free Estimate</li> -->

        </ul>
      </div>
    </div>
    <img src='./images/roofer.png'>
    <div class='copy'>
      <h1>YOU WANT A ROOFING COMPANY YOU CAN TRUST.</h1>
      <p>Choose your company wisely, choose Tiley.</p>
      <h3>FREE ESTIMATE</h3>
    </div>
  </div>
  <div class='three-of-four-container'>
    <div class='three-of-four'>
      <div class='copy'>
        <h2> Commercial</h2>
        <p>New construction and remodels for large and multi units.</p>
      </div>
      <img src='./images/commercial.png'>
    </div>
    <div class='three-of-four'>
      <div class='copy'>
        <h2> Residential</h2>
        <p> New and reroofs, hail and wind damage home experts.</p>
      </div>
      <img src='./images/residential.png'>
    </div>
    <div class='three-of-four'>
      <div class='copy'>
        <h2> Custom</h2>
        <p> Award winning custom and unique roof professionals.</p>
      </div>
      <img src='./images/custom.png'>
    </div>
    <div class='three-of-four'>
      <div class='copy'>
        <h2> Repairs</h2>
        <p> No job too big or small.</p>
      </div>
      <img src='./images/repairs.png'>
    </div>
  </div>
</div>
<div class='section'>
</div>